@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #141412;
  --color-surface-light: #ffffff;
  --color-surface-dark: #151515;
  --color-surface-mid: #232222;
  --color-surface-gray: #a2a2a2;
  --color-nav-active: #1b1a1a;
  --color-nav-inactive: #aaa6a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-bg);
  overflow-x: hidden;
}
